html, body, #root {
  height: 100%;
}

.App {
  background-color: #1c222e;
  height: 100%;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.circled-counter {
  position: relative;
  top: 50%;
  margin: -110px auto 0 auto;
  border: 10px solid white;    
  height: 200px;
  border-radius: 50%;
  width: 200px;
  text-align: center;
  color: white;
  font-size: calc(18px + 2vmin);
  line-height: 180px
}

.counter-toggle {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}